<div ng-controller='ContactsCtrl'>
  <div class='span6'>
    <input class='btn' type='button' value='Fetch all contacts' ng-click='fetchAll()' />
    <ul class='contacts'>
      <li ng-repeat='contact in contacts'>
        {{contact.name}} {{contact.surname}} : {{contact.phone}} ({{contact.email}})
      </li>
    </ul>
  </div>
  <div id='new-contact' class='span6'>
    <h2 id='new-contact-header' title='Use this form to add a new contact' ui-jq='tooltip' ui-options='delay: {show: 200, hide: 100}'>New contact</h2>
  </div>
</div>


